/*Give .square-container properties to make children align horizontally and wrap across page*/
.square-container {
  display: flex;
  flex-wrap: wrap;
}
/*Gave .square properties to turn into black squares with space in-between*/
.square {
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 5px;
}
/*Gave .tooltip properties to center inside .square with white text but is not visible*/
.tooltip {
  visibility: hidden;
  display: inherit;
  padding: 39px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
/*hovering over .square makes .tooltip visible*/
.square:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
